:root {
	--twinkle-duration: 20s;
}

.stars-wrapper {
	position: absolute;
	pointer-events: none;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.comet {
	transform-origin: center center;
	animation: comet 30s linear infinite;

	
}

@keyframes comet {
    0%,
    40% {
        transform: translateX(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60%,
    100% {
        transform: translateX(-100vmax);
        opacity: 0;
    }
}

.comet-b {
	animation-delay: -10s;
}

.comet-c {
	animation-delay: -15s;
}
