@import url(./css/space.css);
@import url(./css/intro.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  background:black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/stars-back.png) ;
}

.App {
  text-align: center;
  color: white;
  padding: 100px 0 0 0;
}

.App .rebel-alliance-logo svg {
  width: 25px;
  height: auto;
  fill: white;
}

.App a {
  color: white;
  text-decoration: none;
}


.App header {
  padding: 50px 0;
}

.App .main-nav {
  background-color: black;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.App .main-nav a {
  font-weight: 700;
}

.App .main-nav .lang {
  padding: 10px 15px;
  display: flex;
  text-transform: capitalize;
  font-size: .9rem;
}
.App .main-nav select {
  border: 1px solid white;
  background-color: transparent;
  border: 0;
  margin-left: 15px;
}

.App .main-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.App .main-nav ul:first-of-type {
  border-bottom: 1px solid white;
  padding: 0 0 10px;
}

.App .filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 15px;
  list-style: none;
}

.App .filter button {
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin-left: 10px;
}

.App .filter button {
  cursor: pointer;
}

.App .filter button:before {
  display: inline-block;
  content: '';
  width: 8px;
  height: 7px;
  border: 1px solid white;
  margin-right: 5px;
}

.App .filter button[data-filter="true"]:before {
  background-color: white;
}

.App nav li {
  text-transform: uppercase;
}

.App .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px 250px; 
  column-gap: 50px;
  row-gap: 50px;
}

.App .grid article {
  justify-self: center;
}

.App .grid ul {
  list-style: none;
  padding-bottom: 15px;
}

.App h3 {
  padding-bottom: 15px;
}

.App .pagination-nav {
  width: 100%;
  position: fixed;
  bottom: 25px;
}

.App .pagination-nav ul {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
  max-width: 700px;
  list-style: none;
}

.App .message-pagination-disabled {
  color: #444;
}

.App .pagination-nav button {
  padding: 10px;
  background: black;
  color: white;
  border: 1px solid white;
}


.App .pagination-nav button:not(:disabled):hover {
  cursor: pointer
}

.App .pagination-nav button:disabled {
  color: #444;
  border: 1px solid #444;
}
