
* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background-color: black;
}

.App {
  text-align: center;
  color: white;
  padding: 100px 0 0 0;
}

.App a {
  color: white;
  text-decoration: none;
}

.App nav {
  background-color: black;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.App header {
  padding: 0 0 50px;
}

.App nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.App .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px 250px; 
  column-gap: 50px;
  row-gap: 50px;
}

.App .grid article {
  justify-self: center;
}

.App .grid ul {
  list-style: none;
  padding-bottom: 15px;
}

.App h3 {
  padding-bottom: 15px;
}

.App .pagination {
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  justify-content: center;
  list-style: none;
  justify-content: space-evenly;
}

.App .pagination button {
  padding: 10px;
  background: black;
  color: white;
  border: 1px solid white;
}


.App .pagination button:hover {
  cursor: pointer
}
